// Print Method SweetAlert2 modal.
.swal-print-method {
  display: inline-block;
  margin: 1em;
  max-width: 20em;
  vertical-align: top;

  p {
    text-align: start;
  } // p

} // .swal-print-method