@charset "UTF-8";
.AJXCSSMenuUdPLMDD {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dbdada+0,aeaeae+100 */

background: rgb(219,218,218); /* Old browsers */

background: -moz-linear-gradient(top,  rgba(219,218,218,1) 0%, rgba(174,174,174,1) 100%); /* FF3.6-15 */

background: -webkit-linear-gradient(top,  rgba(219,218,218,1) 0%,rgba(174,174,174,1) 100%); /* Chrome10-25,Safari5.1-6 */

background: linear-gradient(to bottom,  rgba(219,218,218,1) 0%,rgba(174,174,174,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbdada', endColorstr='#aeaeae',GradientType=0 ); /* IE6-9 */

}

.AJXCSSMenuUdPLMDD>ul>li:hover>a,
.AJXCSSMenuUdPLMDD>ul>li.ajxover>a,
.AJXCSSMenuUdPLMDD>ul>li:hover>a.ajxsub,
.AJXCSSMenuUdPLMDD>ul>li.ajxover>a.ajxsub {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c6c1c1+0,7a7a7a+100 */

background: rgb(198,193,193); /* Old browsers */

background: -moz-linear-gradient(top,  rgba(198,193,193,1) 0%, rgba(122,122,122,1) 100%); /* FF3.6-15 */

background: -webkit-linear-gradient(top,  rgba(198,193,193,1) 0%,rgba(122,122,122,1) 100%); /* Chrome10-25,Safari5.1-6 */

background: linear-gradient(to bottom,  rgba(198,193,193,1) 0%,rgba(122,122,122,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c6c1c1', endColorstr='#7a7a7a',GradientType=0 ); /* IE6-9 */

}

@media screen and (min-width:960px) and (max-width:1199px) {
	
.AJXCSSMenuUdPLMDD li,
.AJXCSSMenuUdPLMDD>ul>li>a.ajxsub {
	width: 125px;
}

}

@media screen and (min-width:650px) and (max-width:959px){

.AJXCSSMenuUdPLMDD li,
.AJXCSSMenuUdPLMDD>ul>li>a.ajxsub {
	width: 85px;
}
.AJXCSSMenuUdPLMDD>ul>li>a {
	font-size: 12px;
}

}